.App {
  text-align: center;
  /* todo put back to black */
  background-color: var(--timberwolf);
}

/* by default the header takes the whole page */
.App-header {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--ash-gray);
}

.pageContainer {
  display: flex;
}

